<!DOCTYPE html>
<html>
    <head>
        <title>Shuffle - Error</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="/static/styles.css" type="text/css" rel="stylesheet">
        <link href="/static/login.css" type="text/css" rel="stylesheet">
    </head>
    <body>
        <main id="main-login">
            <div class="main-container" id="main-container-login">
                <div id="login-wrapper">
                    <h1>Shuffle</h1>
                    <h3>Powered by <span>Spotify</span></h3>
                    <h4 id="error">{{data['error']}}</h3>
                </div>
            </div>
        </main>
    </body>
</html>